@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,700;1,700&family=Poppins:wght@300;400;700&family=Roboto:wght@700&display=swap');


.banner-sec{
    display: flex;
    background-color: black;
   
    margin-top:50px;
    margin-left: 140px;
    margin-right: 140px;
    height: 500px;
    border-radius :30px;
    width: fit-content;
    
}
.left{
    /* width: 531px; */
    width: 50%;
    font-family: 'Poppins';
    
    
    color: aliceblue;
   
    margin-left: 15px;
}
.right{
   
display: flex;
align-items: flex-end;
margin-right: 10px;
}
.right img{
    width:475px;
    
}
.watch-btn{
    /* width: 180px;
        height: 56px;
        left: 246px;
        top: 529px;
    
        background: #DD0000;
        border-radius: 8px;
        color: white;
        font-size: 20px; */
        width: 173px;
            padding: 12px 18px;
            margin-top: 35px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            background-color:#DD0000;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            margin-bottom: 30px;
}
.top-text{
    font-weight: 700px;
    font-size: 50px;
}
.banner-text{
    font-size: 16px;
}